<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" >


  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="target1" fileName="c:\temp\Assure.Core.DataAccessLayer.Tests.Integration.log"
            layout="${date} | ${level:uppercase=true} | ${logger} | ${message} ${exception}" archiveFileName="c:\temp\Assure.Core.DataAccessLayer.Tests.Integration.{##}.log"
            archiveNumbering="Rolling" maxArchiveFiles="3" archiveAboveSize="10485760" />
    <target xsi:type="Console" name="target2"
            layout="${date} | ${level:uppercase=true} | ${logger} | ${message} ${exception}" />

    <target xsi:type="File" name="errorfile" fileName="c:\temp\Assure.Core.DataAccessLayer.Tests.Integration.Errors.log"
            layout="${date} | ${level:uppercase=true} | ${logger} | ${message} ${exception}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" levels="Error" writeTo="errorfile" />
    <logger name="*" minlevel="INFO" writeTo="target1,target2" />
    

  </rules>
</nlog>